<form #loginForm="ngForm" class="w-75 m-auto py-5" (ngSubmit)="loginUser(loginForm)">  
    <div class="form-group my-2">
        <label>email</label>
        <input 
            ngModel 
            #useremail="ngModel"  
            name="userEmail" 
            type="email" 
            class="form-control"
            required 
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        <div *ngIf="useremail.invalid && useremail.touched">      
            <p *ngIf="useremail?.errors?.['required']" class="py-2 text-danger">email required</p>
            <p *ngIf="useremail?.errors?.['pattern']" class="py-2 text-danger">email invalid</p>
        </div>
    </div>
    <div class="form-group my-2">
        <label>password</label>
        <input 
            ngModel 
            #userPassword="ngModel"
            name="userPassword" 
            type="password" 
            class="form-control"
            required
            minlength="8">
        <div *ngIf="userPassword.invalid && userPassword.touched">      
            <p *ngIf="userPassword?.errors?.['required']" class="py-2 text-danger">password required</p>
            <p *ngIf="userPassword?.errors?.['minlength']" class="py-2 text-danger">password invalid</p>
        </div>
    </div>
    <button [disabled]="loginForm.invalid"  type="submit" class="btn btn-primary text-white my-2" routerLink="/home">login</button>
</form>

<div class="container w-75 text-center">
    <span>Don't have account? </span><a routerLink="/register">Register</a>
</div>